body {
    font-family: Arial, Helvetica, sans-serif;
    background: #beb7b7;

}

.Card-product {
    width: fit-content;
    padding: 32px;
    box-shadow: 0 1px 10px rgb(255, 255, 255);
}

.container-text {
    display: flex;
    justify-content: space-between;
}

.img-product {
    border-radius: 12px;
    width: 300px;
}

.Container-Products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 2rem;
    column-gap: 1.2rem;
}

.value {
    color: green;
}

.max-container {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.Container-TeamWork {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 8px;
    row-gap: 32px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.TeamWork {
    width: fit-content;
    position: relative;
    box-shadow: 0 1px 10px rgb(19, 11, 11);
    margin-top: 24px;
    background: #e8e7e7;
    border-radius: 16px;
    overflow: hidden;
    transition: 300ms;
    cursor: pointer;
    height: 360px;
}

.TeamWork:hover {
    transform: scale(1.1);
}

.Img-TeamWork {
    width: 300px;
    max-height: 200px;
}

.container-text-functions {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.container-text-functions p {
    display: flex;
    width: 280px;
}

.name {
    text-align: center;
    width: 100%;
}

.title {
    text-align: center;
    width: 100%;
    font-size: 36px;
}

.txt-about {
    width: 700px;
}

.container-txt-about {
    width: 100%;
    display: flex;
    justify-content: center;
}

.MisionYVision-container {
    display: flex;
    margin-inline: 16px;
    gap: 100px;
    width: 100%;
    justify-content: center;
    margin-top: 32px;
}

.Mision {
    max-width: 400px;
}

.Vision {
    max-width: 400px;
}

.Mision h2 {
    display: flex;
}

.Vision h2 {
    display: flex;
}

hr {
    width: 88%;
    color: aqua;
}


@media screen and (max-width:970px) {
    .MisionYVision-container {
        gap: 32px;
    }
}

@media screen and (max-width:880px) {
    .MisionYVision-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:580px) {
    .Mision {
        width: 300px;
    }

    .Vision {
        width: 300px;
    }
}

.section-contact {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactus-container {
    width: 1200px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information-container {
    width: 100%;
    align-items: center;
    align-content: center;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}


.contactinfo {
    display: flex;
}

.icon {
    display: flex;
    width: 48px;
    border-radius: 100%;
    padding: 10px;
    background: #0995ffe7;
    color: white;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 208, 208);
    width: 260px;
    align-items: center;
    justify-content: center;
    height: 280px;
    padding-inline: 32px;
    border-radius: 32px;
}

.faq-section{
    width: 1200px;
}

.faq-maxcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.questions-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 8px;
}

summary{
    list-style-type: none
}

.questions-container details{
    max-width: 800px;
}

.questions-container hr{
    max-width: 800px;
}

.questions-container details[open]{
    background-color:#e0f2ffe7;
}

.questions-container details{
    padding: 8px;
    border-radius: 6px;
}

.questions-container summary:hover{
    color: #12232fe7;
    transform: scale(1.1);
    cursor: pointer;
}

.questions-container summary{
    transition: all 300ms ease;
}


